QDockWidget::title {
    text-align: center
}

QTabWidget::tab-bar {
    alignment: center;
}

QTreeView {
    font-size: 9pt
}

QTreeView QHeaderView::section {
    font-size: 9pt
}

QTableView {
    font-size: 9pt
}

QTableView QHeaderView::section {
    font-size: 9pt
}