* {
  font-family: Arial;
  font-size: 12pt;
  font-weight: Normal;
}

QDockWidget::title {
    text-align: center
}

QTabWidget::tab-bar {
    alignment: center;
}

QTreeView {
    font-size: 12pt
}

QTreeView QHeaderView::section {
    font-size: 12pt
}

QTableView {
    font-size: 12pt
}

QTableView QHeaderView::section {
    font-size: 12pt
}